body {
   background: #E4ECF4;
   margin: 10px 10px 10px 10px;
   font-size: 80%;
   color: #3F3F3F;
}
h2 {
   color: #7FA2C4;
   font-weight: normal;
   font-size: 1.8em;
   margin: 20px 0 0 0;
}
h2 a:link, h2 a:visited {
   color: #7FA2C4;
   font-weight: normal;
   text-decoration: none;
}
h2 a:hover, h2 a:active {
   color: #3F3F3F;
   background: none;
   font-weight: normal;
   text-decoration: none;
}
a:link {
   color: #7FA2C4;
   font-weight: bold;
   text-decoration: none;
}
a:visited {
   color: #999;
}
a:hover, a:active {
   background: #4682B4;
   color: #fff;
   text-decoration: none;
}
li {
   background: url(ok.png) no-repeat ;
   padding: 2px 0 0 20px;
   list-style: none;
}